h4, h5, h6{
    display: inline-block;
}
.card-title{
    color: black;
}
.accordion-header-closed{
    margin-bottom: 0px;
}
.accordion-body{
    padding: 1.25rem;
}
.time-line{
    width: 100px;
}
.coustom-card{
    border: 0ch;
    border-radius: 5px;
    margin: 8px;
    background-color: #abc6ffa3;
}