<div class="card coustom-card" >
    <div class="card-body">
      <div class="accordion-header" (click)="toggleIsOpen($event)">
        <h5 class="card-subtitle mb-2 text-muted time-line" [ngClass]="{'accordion-header-closed': !isOpen}">
            {{accordionSubTitle}}
        </h5>
        <h4 class="card-title" [ngClass]="{'accordion-header-closed': !isOpen}">
          <a href class="card-title">{{accordionTitle}}</a>
        </h4>
      </div>
      <div class="panel-collapse" [hidden]="!isOpen">
        <div class="accordion-body">
          <ng-template appAccordionContent></ng-template>
        </div>
      </div>
    </div>
  </div>